nav {
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 23px 0;
}

.menu {
  display: flex;
  margin-left: 40px;
  gap: 63px;

  &__item-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #000;
    transition: all 0.2s;
    &:hover {
      color: $blackBtnHover;
    }
  }
  @media screen and (max-width: 1050px) {
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
      margin-left: 00px;
    }
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}
