.partner {
  margin-bottom: 190px;

  .container {
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.partner__inner {
  max-width: 760px;
  width: 100%;
  background-color: #e2eef3;
  margin: 0 auto;
  padding: 40px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 30px 40px;
  }
}

.partner__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  max-width: 984px;
  margin-bottom: 47px;

  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.partner__img {
  margin-bottom: 23px;
}

.partner__name {
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 7px;
}

.partner__position {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 14px;
}

.partner__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  transition: all 0.2s;

  &:hover {
    color: $transparentBtnHover;
  }
}
