.footer {
  background-color: #000;
  color: #fff;
}

.footer__inner {
  padding: 38px 0 90px 0;
}

.footer__top {
  padding-bottom: 128px;
  margin-bottom: 50px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
  }

  @media screen and (max-width: 880px) {
    margin-bottom: 30px;
    padding-bottom: 40px;
  }
}

.footer__top-cols {
  display: flex;
  margin-bottom: 81px;

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 880px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__top-column {
  &:first-child {
    margin-right: 97px;

    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
  }
  &:last-child {
    margin-left: 147px;
    max-width: 228px;
    & h6:not(:first-child) {
      margin-top: 39px;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }
  &:nth-child(2) {
    margin-right: 29px;
    max-width: 254px;

    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
  }
}

.footer__top-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer__top-list {
  & li:not(:last-child) {
    margin-bottom: 15px;
  }

  li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
}

.footer__top-btn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 153px;

  svg {
    width: 22px;
    height: 17px;
    transition: all 0.2s;
  }

  &:hover {
    svg {
      transform: translateX(3px);
    }
  }

  @media screen and (max-width: 880px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 0;
  }
}

.footer__top-links {
  display: flex;
  gap: 24px;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__top-stores {
  margin-left: auto;
  display: flex;
  gap: 8px;

  @media screen and (max-width: 480px) {
    margin-left: 0;
  }
}

.footer__top-social {
  display: flex;
  gap: 16px;
}

.footer__bottom {
  display: flex;
  gap: 29px;

  p:first-child {
    max-width: 537px;
    width: 100%;
  }

  p:last-child {
    max-width: 539px;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
